@mixin display($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin hover() {
  color: $hover-color;
}
@mixin link() {
  text-decoration: underline;
  color: $text-color;
}

$main-font: "Ranade", sans-serif;
$title-font: "Stardom", serif;
$text-color: black;
$hover-color: #adff02;

body {
  margin: 0 10%;
  font-family: $main-font;
  font-weight: 500;
  font-size: 20px;
}

#navbar {
  @include display(row, space-between);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  a {
    @include link;
    text-decoration: none;
    margin: 4% 0;
    font-size: 1.5rem;
  }
  a:hover {
    @include hover;
  }
}

#welcome-section {
  @include display;
  h1 {
    font-family: $title-font;
    font-size: 4rem;
    font-weight: 600;
  }
}

#about-me {
  @include display(column, flex-start, 0);
  margin: 4% 0;
  h2 {
    font-family: $title-font;
  }
  p {
    max-width: 800px;
  }
  a {
    @include link;
  }
  a:hover {
    @include hover;
  }
}

#projects {
  @include display(column, 0, 0);
  margin: 4% 0;
  gap: 10px;
  a {
    @include link;
  }
  a:hover {
    @include hover;
  }
  h2 {
    font-family: $title-font;
  }
  #food,
  #movie {
    @include display(row-reverse, 0, 0);
    gap: 4%;
    img {
      width: 100%;
      border-radius: 12px;
    }
  }
}
#contact {
  h2 {
    font-family: $title-font;
  }
  a {
    @include link;
  }
  a:hover {
    @include hover;
  }
}

@media (max-width: 600px) {
  #navbar {
    @include display(column);
  }
  #projects {
    #food,
    #movie {
      @include display(column, 0, 0);
    }
  }
}
